In [1]:
pip install mlxtend

Requirement already satisfied: mlxtend in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (0.23.1)
Requirement already satisfied: scipy>=1.2.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (1.11.4)
Requirement already satisfied: numpy>=1.16.2 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (1.26.3)
Requirement already satisfied: pandas>=0.24.2 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (2.1.4)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (1.3.2)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (3.8.2)
Requirement already satisfied: joblib>=0.13.2 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from mlxtend) (1.3.2)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.2.0)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.12.1)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.47.2)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.4.5)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (23.2)
Requirement already satisfied: pillow>=8 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (10.2.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.1.1)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.1 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from pandas>=0.24.2->mlxtend) (2023.4)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (3.2.0)
Requirement already satisfied: six>=1.5 in c:\users\hp\appdata\local\programs\python\python312\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Note: you may need to restart the kernel to use updated packages.

[notice] A new release of pip is available: 23.2.1 -> 24.0
[notice] To update, run: python.exe -m pip install --upgrade pip

In [2]:
from mlxtend.frequent_patterns import apriori, association_rules
from mlxtend.preprocessing import TransactionEncoder

In [5]:
import pandas as pd
import numpy as np
import warnings
warnings.filterwarnings("ignore")

In [6]:
df = pd.read_excel("buckets.xlsx")

In [7]:
df

   Transaction ID                                        Bucket
0               1               Milk, Bread, Eggs, Soap, Butter
1               2                    Soap, Milk, Shampoo, Wheat
2               3  Wheat, Bread, Butter, Facewash, Mousturaiser
3               4               Milk, Soap, Mousturaiser, Bread
4               5                 Wheat, Butter, Soap, Facewash
5               6                Egg, Milk, Mousturaiser, Bread
6               7           Rice, Wheat, Mousturaiser, Facewash
7               8             Rice, Soap, Butter, Milk, Shampoo

In [8]:
dataset = df["Bucket"].str.split(",").tolist()

In [9]:
te = TransactionEncoder()
te_ary = te.fit(dataset).transform(dataset)
df = pd.DataFrame(te_ary, columns=te.columns_)
df

,Bread,Butter,Eggs,Facewash,Milk,Mousturaiser,Shampoo,Soap,Wheat,Egg,Milk,Rice,Soap,Wheat
0,True,True,True,False,False,False,False,True,False,False,True,False,False,False
1,False,False,False,False,True,False,True,False,True,False,False,False,True,False
2,True,True,False,True,False,True,False,False,False,False,False,False,False,True
3,True,False,False,False,False,True,False,True,False,False,True,False,False,False
4,False,True,False,True,False,False,False,True,False,False,False,False,False,True
5,True,False,False,False,True,True,False,False,False,True,False,False,False,False
6,False,False,False,True,False,True,False,False,True,False,False,True,False,False
7,False,True,False,False,True,False,True,True,False,False,False,True,False,False

In [10]:
a = apriori(df, min_support=0.2, use_colnames=True)

In [11]:
association_rules(a )

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction,zhangs_metric
0,(Milk),( Bread),0.25,0.500,0.25,1.0,2.000000,0.12500,inf,0.666667
1,(Wheat),( Butter),0.25,0.500,0.25,1.0,2.000000,0.12500,inf,0.666667
2,(Wheat),( Facewash),0.25,0.375,0.25,1.0,2.666667,0.15625,inf,0.833333
3,( Shampoo),( Milk),0.25,0.375,0.25,1.0,2.666667,0.15625,inf,0.833333
4,(Milk),( Soap),0.25,0.500,0.25,1.0,2.000000,0.12500,inf,0.666667
5,"(Milk, Bread)",( Soap),0.25,0.500,0.25,1.0,2.000000,0.12500,inf,0.666667
6,"(Milk, Soap)",( Bread),0.25,0.500,0.25,1.0,2.000000,0.12500,inf,0.666667
7,"( Bread, Soap)",(Milk),0.25,0.250,0.25,1.0,4.000000,0.18750,inf,1.000000
8,(Milk),"( Bread, Soap)",0.25,0.250,0.25,1.0,4.000000,0.18750,inf,1.000000
9,"( Butter, Facewash)",(Wheat),0.25,0.250,0.25,1.0,4.000000,0.18750,inf,1.000000
10,"( Butter, Wheat)",( Facewash),0.25,0.375,0.25,1.0,2.666667,0.15625,inf,0.833333
11,"(Wheat, Facewash)",( Butter),0.25,0.500,0.25,1.0,2.000000,0.12500,inf,0.666667
12,(Wheat),"( Butter, Facewash)",0.25,0.250,0.25,1.0,4.000000,0.18750,inf,1.000000